.content{
  box-sizing: border-box;
  background-size:cover;
  padding-top:40px;

  .flex{
    display:flex;
  }

  .align-c{
    align-items: center;
  }

  .align-fe{
    align-items: flex-end;
  }

  main{
    display:flex;
    padding:40px 167px 131px;
    min-height: calc(100vh - 136px);
    box-sizing: border-box;

    .row{
      display:flex;
      width:100%;

      &.cols-2 > *{
        width:50%;
      }
      &.cols-3 > *{
        width:33.33%;
      }
      &.cols-4 > *{
        width:25%;
      }
    }
  }

  @media (max-width:$mddesktop){
    main{
      padding:40px 147px 85px;
    }
  }
  @media (max-width:$smdesktop){
    main{
      padding:40px 85px 55px;
    }
  }
  @media (max-width:$tablet){
    padding-top:0;
    main{
      padding: 40px 39px 90px;
      min-height: calc(100vh - 96px);
      .row{
        flex-wrap:wrap;
        text-align: center;
        &.cols-2 > *,
        &.cols-3 > *,
        &.cols-4 > *{
          width:100%;
        }
      }
    }
  }
  @media (max-width:$mobile){
    main{
      padding:0 24px 24px;
    }
  }
}
