h1,
.heading-one{
  font-family: $bellefair;
  font-size: $text150;
}

h2,
.heading-two{
  font-family: $bellefair;
  font-size: $text100;
}

h3,
.heading-three{
  font-family: $bellefair;
  font-size: $text56;
}

h4,
.heading-four{
  font-family: $bellefair;
  font-size: $text32;
}

h5,
.heading-five{
  font-family: $barlowcondensed;
  font-size: $text28;
  letter-spacing:4.75px;
}

.subheading-one{
  font-family: $bellefair;
  font-size: $text28;
}
