@import "variables/variables";

@font-face {
  font-family: "Bellefair Regular";
  src: url('fonts/Bellefair-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Regular";
  src: url('fonts/Barlow-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed Regular";
  src: url('fonts/BarlowCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed Regular";
  src: url('fonts/BarlowCondensed-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

/* Global */
body{
  margin:0;
  font-family:$barlow;
  font-size:$text18;
  line-height: 1.15;
  background-color:$darkblue;
  color:$lightblue;
}

ul{
  list-style-type: none;
  padding:0;
}

button{
  background:transparent;
  border:none;
  border-radius:0;
}

/* Structure */
@import "containers";

/* Typography */
@import "typography";

/* Header */
@import "pages/header";

/* Front Page */
@import "pages/page-home";

/* Destination Page */
@import "pages/page-destination";

/* Crew Page */
@import "pages/page-crew";
