@font-face {
  font-family: "Bellefair Regular";
  src: url("fonts/Bellefair-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Regular";
  src: url("fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed Regular";
  src: url("fonts/BarlowCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed Regular";
  src: url("fonts/BarlowCondensed-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
/* Global */
body {
  margin: 0;
  font-family: "Barlow Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.15;
  background-color: #0B0D17;
  color: #D0D6F9;
}

/* Structure */
.content {
  box-sizing: border-box;
  background-size: cover;
  padding-top: 40px;
}
.content .flex {
  display: flex;
  align-items: center;
}
.content main {
  display: flex;
  padding: 0 167px 131px;
  min-height: calc(100vh - 136px);
  box-sizing: border-box;
}
.content main .row {
  display: flex;
  width: 100%;
}
.content main .row.cols-2 > * {
  width: 50%;
}
.content main .row.cols-3 > * {
  width: 33.33%;
}
.content main .row.cols-4 > * {
  width: 25%;
}
/* Typography */
h1, h2, h3, h4 {
  font-family: "Bellefair Regular", serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.75rem 0;
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-family: "Barlow Condensed Regular", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.75rem 0;
}

p {
  line-height: 1.78;
  margin: 0.75rem 0 0;
}

.subheading-one {
  font-family: "Bellefair Regular", serif;
  font-size: 1.75rem;
}

/* Header */
#header {
  margin-left: auto;
  width: calc(100% - 55px);
}
#header nav {
  margin-left: auto;
  height: 96px;
  padding: 0 141px 0 99px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.55px);
}
#header nav::before {
  content: "";
  position: absolute;
  right: calc(100% - 30px);
  width: calc(100vw - 137px - 100%);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
#header nav ul#main-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}
#header nav ul#main-menu li {
  padding: 0 24px;
  font-family: "Barlow Condensed Regular", sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
#header nav ul#main-menu li a {
  color: #FFFFFF;
}
#header nav ul#main-menu li a span {
  font-weight: 600;
  margin-right: 10px;
}
/* Front Page */
#front-page {
  background-image: url("images/home/background-home-desktop.jpg");
  background-position: center right;
}
#front-page main .row {
  align-items: flex-end;
}
#front-page main .row .text-content p {
  width: 28.125rem;
}
#front-page main .row .explore {
  display: flex;
  justify-content: flex-end;
}
#front-page main .row .explore .explore-button {
  justify-content: center;
  background-color: #FFFFFF;
  color: #0B0D17;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}
#front-page main .row .explore .explore-button:hover ~ .explore-hover {
  transform: scale(1.64);
}
#front-page main .row .explore .explore-button h4 {
  margin: 0;
}
#front-page main .row .explore .explore-hover {
  position: absolute;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  transform: scale(1);
  transition: 0.7s all ease-out;
  background-color: rgba(255, 255, 255, 0.104);
}

/*# sourceMappingURL=style.css.map */
