@font-face {
  font-family: "Bellefair Regular";
  src: url("fonts/Bellefair-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Regular";
  src: url("fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed Regular";
  src: url("fonts/BarlowCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed Regular";
  src: url("fonts/BarlowCondensed-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
/* Global */
body {
  margin: 0;
  font-family: "Barlow Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.15;
  background-color: #0B0D17;
  color: #D0D6F9;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  border-radius: 0;
}

/* Structure */
.content {
  box-sizing: border-box;
  background-size: cover;
  padding-top: 40px;
}
.content .flex {
  display: flex;
}
.content .align-c {
  align-items: center;
}
.content .align-fe {
  align-items: flex-end;
}
.content main {
  display: flex;
  padding: 40px 167px 131px;
  min-height: calc(100vh - 136px);
  box-sizing: border-box;
}
.content main .row {
  display: flex;
  width: 100%;
}
.content main .row.cols-2 > * {
  width: 50%;
}
.content main .row.cols-3 > * {
  width: 33.33%;
}
.content main .row.cols-4 > * {
  width: 25%;
}
@media (max-width: 1399px) {
  .content main {
    padding: 40px 147px 85px;
  }
}
@media (max-width: 1199px) {
  .content main {
    padding: 40px 85px 55px;
  }
}
@media (max-width: 991px) {
  .content {
    padding-top: 0;
  }
  .content main {
    padding: 40px 39px 90px;
    min-height: calc(100vh - 96px);
  }
  .content main .row {
    flex-wrap: wrap;
    text-align: center;
  }
  .content main .row.cols-2 > *, .content main .row.cols-3 > *, .content main .row.cols-4 > * {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .content main {
    padding: 0 24px 24px;
  }
}

/* Typography */
h1, h2, h3, h4 {
  font-family: "Bellefair Regular", serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 1.25rem 0;
}

h1 {
  font-size: 9.375rem;
  color: #FFFFFF;
}

h2 {
  font-size: 6.25rem;
  color: #FFFFFF;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-family: "Barlow Condensed Regular", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 1.25rem 0;
}

p {
  line-height: 1.78;
  margin: 1.25rem 0 0;
}

a {
  text-decoration: none;
}

.subheading-one {
  display: block;
  font-family: "Bellefair Regular", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 12px 0;
}

.subheading-two {
  display: block;
  font-family: "Barlow Condensed Regular", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.nav-text {
  padding: 0 24px;
  font-family: "Barlow Condensed Regular", sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  h1, h2, h3, h4 {
    margin: 0.5rem 0;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }
  p {
    font-size: 0.9375rem;
  }
}
/* Header */
#header {
  margin-left: auto;
  width: calc(100% - 55px);
}
#header .mobile-toggle {
  display: none;
}
#header .logo-link {
  z-index: 98;
}
#header nav {
  margin-left: auto;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.55px);
  z-index: 98;
}
#header nav::before {
  content: "";
  position: absolute;
  right: calc(100% - 30px);
  width: calc(100vw - 137px - 100%);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
#header nav ul#main-menu {
  margin: 0 141px 0 99px;
}
#header nav ul#main-menu li {
  min-height: 96px;
  display: flex;
  align-items: center;
  position: relative;
}
#header nav ul#main-menu li.active::after {
  content: "";
  width: calc(100% - 48px);
  height: 3px;
  bottom: 0;
  left: 24px;
  position: absolute;
  background: white;
}
#header nav ul#main-menu li a {
  color: #FFFFFF;
  padding: calc(48px - 0.7em) 24px;
}
#header nav ul#main-menu li a span {
  font-weight: 600;
  margin-right: 10px;
}
#header .hover-underline {
  width: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 133px;
  transition: all 0.4s ease-out;
  z-index: 99;
}
#header .page-title {
  position: absolute;
  padding-top: 232px;
  margin-left: 115px;
}
#header .page-title h5 span {
  margin-right: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.25);
}
@media (max-width: 1399px) {
  #header nav::before {
    content: "";
    width: calc(100vw - 117px - 100%);
  }
  #header nav ul#main-menu {
    margin: 0 121px 0 99px;
  }
  #header .page-title {
    margin-left: 95px;
  }
}
@media (max-width: 1199px) {
  #header .page-title {
    margin-left: 30px;
  }
}
@media (max-width: 991px) {
  #header {
    width: calc(100% - 39px);
  }
  #header nav::before {
    display: none;
  }
  #header nav ul#main-menu {
    margin: 0;
    padding: 0 24px;
  }
  #header nav ul#main-menu li a span {
    display: none;
  }
  #header .page-title {
    margin-left: 0;
  }
  #header .hover-underline {
    top: 93px;
  }
}
@media (max-width: 767px) {
  #header {
    padding: 24px;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  #header .mobile-toggle {
    display: block;
    position: absolute;
    right: 18px;
    z-index: 99;
  }
  #header .mobile-toggle .close-button {
    display: none;
  }
  #header .mobile-toggle.active {
    position: fixed;
  }
  #header .mobile-toggle.active .close-button {
    display: block;
  }
  #header .mobile-toggle.active .menu-button {
    display: none;
  }
  #header .mobile-toggle.active ~ nav {
    right: 0;
  }
  #header nav {
    align-items: flex-start;
    padding-top: 118px;
    height: 100vh;
    width: 67%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.4s ease-out;
  }
  #header nav ul#main-menu {
    flex-wrap: wrap;
    padding: 0 32px;
  }
  #header nav ul#main-menu li {
    width: 100%;
    min-height: unset;
  }
  #header nav ul#main-menu li.active::after {
    display: none;
  }
  #header nav ul#main-menu li a {
    padding: 16px 0;
  }
  #header nav ul#main-menu li a span {
    display: inline;
  }
  #header .hover-underline {
    display: none;
  }
  #header .page-title {
    padding-top: 115px;
    width: calc(100% - 48px);
    text-align: center;
  }
}

/* Front Page */
#front-page.content {
  background-image: url("images/home/background-home-desktop.jpg");
  background-position: center right;
}
#front-page.content main .row .text-content p {
  width: 28.125rem;
}
#front-page.content main .row .explore {
  display: flex;
  justify-content: flex-end;
}
#front-page.content main .row .explore .explore-button {
  justify-content: center;
  background-color: #FFFFFF;
  color: #0B0D17;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}
#front-page.content main .row .explore .explore-button:hover ~ .explore-hover {
  transform: scale(1.64);
}
#front-page.content main .row .explore .explore-button h4 {
  margin: 0;
}
#front-page.content main .row .explore .explore-hover {
  position: absolute;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  transform: scale(1);
  transition: 0.7s all ease-out;
  background-color: rgba(255, 255, 255, 0.104);
}
@media (max-width: 991px) {
  #front-page.content {
    background-image: url("images/home/background-home-tablet.jpg");
  }
  #front-page.content main .row .text-content p {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  #front-page.content main .row .explore {
    justify-content: center;
    align-self: flex-end;
  }
}
@media (max-width: 767px) {
  #front-page.content {
    background-image: url("images/home/background-home-mobile.jpg");
  }
  #front-page.content main .row {
    align-items: flex-start;
  }
  #front-page.content main .row .text-content p {
    width: 100%;
  }
  #front-page.content main .row .explore {
    align-self: flex-start;
  }
  #front-page.content main .row .explore .explore-button {
    width: 150px;
    height: 150px;
  }
  #front-page.content main .row .explore .explore-hover {
    width: 150px;
    height: 150px;
  }
}

/* Destination Page */
#destination.content {
  background-image: url("images/destination/background-destination-desktop.jpg");
}
#destination.content main .row .dest-selection #dest-image {
  display: block;
  width: 80%;
  margin: 97px auto 0;
  animation: rotation 300s infinite linear;
}
#destination.content main .row .dest-content .content-wrapper {
  display: block;
  width: 80%;
  margin-left: auto;
}
#destination.content main .row .dest-content .content-wrapper ul.destination-menu {
  margin-bottom: 40px;
}
#destination.content main .row .dest-content .content-wrapper ul.destination-menu li button {
  padding: 0;
  margin: 0 36px 0 0;
  color: #D0D6F9;
  position: relative;
  transition: color 0.4s ease-out;
}
#destination.content main .row .dest-content .content-wrapper ul.destination-menu li button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -12px;
  transition: all 0.4s ease-out;
}
#destination.content main .row .dest-content .content-wrapper ul.destination-menu li button:hover::after {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
#destination.content main .row .dest-content .content-wrapper ul.destination-menu li button.d-active {
  color: #FFFFFF;
}
#destination.content main .row .dest-content .content-wrapper ul.destination-menu li button.d-active::after {
  content: "";
  width: 100%;
  background: #FFFFFF;
  opacity: 1;
}
#destination.content main .row .dest-content .content-wrapper #dest-description p {
  min-height: 182px;
}
#destination.content main .row .dest-content .content-wrapper #dest-description .dest-data {
  border-top: 1px solid #383B4B;
  padding-top: 29px;
}
@media (max-width: 991px) {
  #destination.content {
    background-image: url("images/destination/background-destination-tablet.jpg");
  }
  #destination.content main .row .dest-selection #dest-image {
    width: 43%;
  }
  #destination.content main .row .dest-content .content-wrapper {
    width: 100%;
    margin-left: unset;
  }
  #destination.content main .row .dest-content .content-wrapper ul.destination-menu {
    justify-content: center;
    margin-top: 53px;
  }
  #destination.content main .row .dest-content .content-wrapper ul.destination-menu li button {
    margin: 0 18px;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description {
    margin: 0 57px;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description p {
    min-height: 133px;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description .dest-data {
    flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  #destination.content {
    background-image: url("images/destination/background-destination-mobile.jpg");
  }
  #destination.content main .row .dest-selection {
    padding-top: 50px;
  }
  #destination.content main .row .dest-selection #dest-image {
    width: 60%;
    margin: auto;
  }
  #destination.content main .row .dest-content .content-wrapper ul.destination-menu {
    margin: 26px auto 30px;
  }
  #destination.content main .row .dest-content .content-wrapper ul.destination-menu li button {
    font-size: 0.875rem;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description {
    margin: 0;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description p {
    margin-bottom: 32px;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description .dest-data {
    flex-wrap: wrap;
  }
  #destination.content main .row .dest-content .content-wrapper #dest-description .dest-data #dest-distance {
    margin-bottom: 32px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Crew Page */
#crew.content {
  background-image: url("images/crew/background-crew-desktop.jpg");
}
#crew.content main {
  padding-bottom: 0;
  padding-right: 0;
}
#crew.content main .row .splide {
  width: 100%;
}
#crew.content main .row .splide .splide__arrows {
  display: none;
}
#crew.content main .row .splide .splide__pagination {
  width: 50%;
  padding: 0;
  margin-bottom: 84px;
  justify-content: flex-start;
}
#crew.content main .row .splide .splide__pagination button {
  width: 15px;
  height: 15px;
  margin-right: 24px;
  opacity: 0.174;
  transition: opacity 0.4s ease-out;
}
#crew.content main .row .splide .splide__pagination button:hover {
  opacity: 0.5;
}
#crew.content main .row .splide .splide__pagination button.is-active {
  transform: scale(1);
  opacity: 1;
}
#crew.content main .row .splide ul.splide__list li .crew-text {
  margin-bottom: 197px;
}
#crew.content main .row .splide ul.splide__list li .crew-text h4 {
  opacity: 0.5;
}
#crew.content main .row .splide ul.splide__list li .crew-text h3 {
  color: #FFFFFF;
}
#crew.content main .row .splide ul.splide__list li .crew-text p {
  width: 70%;
}
#crew.content main .row .splide ul.splide__list li .crew-photo img {
  max-height: calc(100vh - 176px);
  max-width: 100%;
}
@media (max-width: 1199px) {
  #crew.content main {
    padding-left: 85px;
  }
  #crew.content main .row .splide .splide__pagination {
    margin-bottom: 55px;
  }
  #crew.content main .row .splide ul.splide__list li .crew-text {
    margin-bottom: 133px;
  }
}
@media (max-width: 991px) {
  #crew.content {
    background-image: url("images/crew/background-crew-tablet.jpg");
  }
  #crew.content main {
    padding: 124px 39px 0;
  }
  #crew.content main .row .splide .splide__pagination {
    width: 100%;
    justify-content: center;
    bottom: 52vh;
    height: 10px;
  }
  #crew.content main .row .splide .splide__pagination button {
    width: 10px;
    height: 10px;
    margin-right: unset;
    margin: 0 8px;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-text {
    margin-bottom: 100px;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-text p {
    width: 80%;
    margin: 0 auto;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-photo img {
    max-height: 52vh;
  }
}
@media (max-width: 767px) {
  #crew.content {
    background-image: url("images/crew/background-crew-mobile.jpg");
  }
  #crew.content main {
    padding: 0 24px 24px 24px;
  }
  #crew.content main .row .splide .splide__pagination {
    top: calc(33vh + 75px);
  }
  #crew.content main .row .splide .splide__track ul.splide__list li {
    align-items: flex-start;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-text {
    order: 2;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-text p {
    width: 100%;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-photo {
    padding-top: 50px;
    border-bottom: 1px solid #383B4B;
  }
  #crew.content main .row .splide .splide__track ul.splide__list li .crew-photo img {
    height: 33vh;
    min-height: 225px;
  }
}

/* Technology Page */
#technology.content {
  background-image: url("images/technology/background-technology-desktop.jpg");
}
#technology.content main {
  padding-bottom: 101px;
  padding-right: 0;
}
#technology.content main .row .splide {
  width: 100%;
  flex-wrap: nowrap;
}
#technology.content main .row .splide .splide__arrows {
  display: none;
}
#technology.content main .row .splide .splide__pagination {
  width: 50%;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  position: relative;
  order: 1;
}
#technology.content main .row .splide .splide__pagination li {
  margin: 16px 0;
}
#technology.content main .row .splide .splide__pagination li button {
  width: 80px;
  height: 80px;
  margin: 0 70px 0 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.4s ease-out;
}
#technology.content main .row .splide .splide__pagination li button:hover {
  border-color: #FFFFFF;
}
#technology.content main .row .splide .splide__pagination li button::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Bellefair Regular", serif;
  font-size: 2rem;
  line-height: 80px;
  color: #FFFFFF;
}
#technology.content main .row .splide .splide__pagination li button.is-active {
  background-color: #FFFFFF;
  transform: scale(1);
}
#technology.content main .row .splide .splide__pagination li button.is-active::after {
  color: #0B0D17;
}
#technology.content main .row .splide .splide__pagination li:nth-child(1) button::after {
  content: "1";
}
#technology.content main .row .splide .splide__pagination li:nth-child(2) button::after {
  content: "2";
}
#technology.content main .row .splide .splide__pagination li:nth-child(3) button::after {
  content: "3";
}
#technology.content main .row .splide .splide__track {
  order: 2;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-text {
  padding: 0 10px;
  align-self: center;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-text .nav-text {
  padding: 0;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-text h3 {
  color: #FFFFFF;
  margin-top: 10px;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-text p {
  width: 80%;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-photo {
  text-align: right;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-photo img {
  max-height: calc(100vh - 277px);
  max-width: 100%;
}
#technology.content main .row .splide .splide__track ul.splide__list li .crew-photo img.landscape-img {
  display: none;
}
@media (max-width: 1399px) {
  #technology.content main {
    padding-bottom: 65px;
  }
}
@media (max-width: 1199px) {
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-photo {
    align-self: center;
  }
}
@media (max-width: 991px) {
  #technology.content {
    background-image: url("images/technology/background-technology-tablet.jpg");
  }
  #technology.content main {
    padding-top: 124px;
    padding-left: 0;
  }
  #technology.content main .row {
    align-items: flex-start;
  }
  #technology.content main .row .splide .splide__pagination {
    position: absolute;
    width: 100%;
    height: 60px;
    top: calc(50% + 25px);
    flex-direction: row;
  }
  #technology.content main .row .splide .splide__pagination li {
    margin: 0 8px;
  }
  #technology.content main .row .splide .splide__pagination li button {
    margin: 0 auto;
    height: 60px;
    width: 60px;
  }
  #technology.content main .row .splide .splide__pagination li button::after {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-text {
    order: 2;
    padding-top: 40px;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-text h3 {
    margin: 16px 0;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-text p {
    width: 58%;
    margin: 0 auto;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-photo {
    margin-bottom: 160px;
    order: 1;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-photo img.landscape-img {
    display: block;
    width: 100%;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-photo img.portrait-img {
    display: none;
  }
}
@media (max-width: 767px) {
  #technology.content {
    background-image: url("images/technology/background-technology-mobile.jpg");
  }
  #technology.content main {
    padding: 0;
  }
  #technology.content main .row .splide .splide__pagination {
    top: calc(33% + 25px);
  }
  #technology.content main .row .splide .splide__pagination li button {
    width: 40px;
    height: 40px;
  }
  #technology.content main .row .splide .splide__pagination li button::after {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    line-height: 40px;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-text {
    padding: 40px 24px;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-text p {
    width: 100%;
  }
  #technology.content main .row .splide .splide__track ul.splide__list li .crew-photo {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
