$bellefair: "Bellefair Regular", serif;
$barlowcondensed: "Barlow Condensed Regular", sans-serif;
$barlow: "Barlow Regular", sans-serif;

$text150: 9.375rem;
$text100: 6.25rem;
$text56: 3.5rem;
$text32: 2rem;
$text28: 1.75rem;
$text18: 1.125rem;
$text16: 1rem;
$text14: .875rem;
