#crew.content{
	background-image:url('images/crew/background-crew-desktop.jpg');
	main{
		padding-bottom:0;
		padding-right:0;
		.row{
			.splide{
				width:100%;
				.splide__arrows {
					display:none;
				}
				.splide__pagination{
					width: 50%;
					padding:0;
					margin-bottom:84px;
    			justify-content: flex-start;
					button{
						width:15px;
						height:15px;
						margin-right:24px;
						opacity:.174;
						transition:opacity .4s ease-out;

						&:hover{
							opacity:.5;
						}

						&.is-active{
							transform:scale(1);
							opacity:1;
						}
					}
				}
				ul.splide__list{
					li{
						.crew-text{
							margin-bottom:197px;
							h4{
								opacity:.5;
							}
							h3{
								color:$white;
							}
							p{
								width:70%;
							}
						}
						.crew-photo{
							img{
								max-height:calc(100vh - 176px);
								max-width:100%;
							}
						}
					}
				}
			}
		}
	}
  @media (max-width:$mddesktop){

  }
  @media (max-width:$smdesktop){
		main{
			padding-left:85px;
			.row{
				.splide{
					.splide__arrows {
					}
					.splide__pagination{
						margin-bottom:55px;
					}
					ul.splide__list{
						li{
							.crew-text{
								margin-bottom:133px;
							}
						}
					}
				}
			}
		}
  }
  @media (max-width:$tablet){
		background-image:url('images/crew/background-crew-tablet.jpg');
		main{
			padding:124px 39px 0;
			.row{
				.splide{
					.splide__arrows {
					}
					.splide__pagination{
						width:100%;
						justify-content: center;
						bottom: 52vh;
						height: 10px;
						button{
							width:10px;
							height:10px;
							margin-right:unset;
							margin:0 8px;
							&:hover{
							}

							&.is-active{
							}
						}
					}
					.splide__track{
						ul.splide__list{
							li{
								.crew-text{
									margin-bottom:100px;
									h4{
									}
									h3{
									}
									p{
										width: 80%;
    								margin: 0 auto;
									}
								}
								.crew-photo{
									img{
										max-height:52vh;
									}
								}
							}
						}
					}
				}
			}
		}
  }
  @media (max-width:$mobile){

  }
}
