#technology.content{
  background-image:url('images/technology/background-technology-desktop.jpg');
  main{
    padding-bottom:101px;
		padding-right:0;
    .row{
			.splide{
				width:100%;
        flex-wrap: nowrap;
				.splide__arrows {
					display:none;
				}
				.splide__pagination{
					width: 50%;
					padding:0;
          justify-content: center;
          flex-direction: column;
          position:relative;
          order:1;

          li{
            margin:16px 0;
            button{
  						width:80px;
  						height:80px;
  					  margin: 0 80px 0 0;
  						background-color:transparent;
              border:1px solid rgba(255,255,255,.25);
              box-sizing: border-box;
              opacity:1;
              transition:all .4s ease-out;

  						&:hover{
                border-color:$white;
  						}

              &::after{
                content:'';
                width:80px;
                height:80px;
                position:absolute;
                top:0;
                left:0;
                font-family:$bellefair;
                font-size:$text32;
                line-height:80px;
                color:$white;
              }

  						&.is-active{
                background-color:$white;
  							transform:scale(1);

                &::after{
                  color:$darkblue;
                }
  						}
  					}

            &:nth-child(1) button::after{
              content:'1';
            }

            &:nth-child(2) button::after{
              content:'2';
            }

            &:nth-child(3) button::after{
              content:'3';
            }
          }
				}
        .splide__track{
          order:2;
          ul.splide__list{
  					li{
  						.crew-text{
                align-self:center;
  							.nav-text{
  								padding:0;
  							}
  							h3{
  								color:$white;
                  margin-top:10px;
  							}
  							p{
  								width:80%;
  							}
  						}
  						.crew-photo{
                text-align:right;
  							img{
  								max-height:calc(100vh - 277px);
  							}
  						}
  					}
  				}
        }
			}
		}
  }
  @media (max-width:$mddesktop){

  }
  @media (max-width:$smdesktop){

  }
  @media (max-width:$tablet){

  }
  @media (max-width:$mobile){

  }
}
