#technology.content{
  background-image:url('images/technology/background-technology-desktop.jpg');
  main{
    padding-bottom:101px;
		padding-right:0;
    .row{
			.splide{
				width:100%;
        flex-wrap: nowrap;
				.splide__arrows {
					display:none;
				}
				.splide__pagination{
					width: 50%;
					padding:0;
          justify-content: center;
          flex-direction: column;
          position:relative;
          order:1;

          li{
            margin:16px 0;
            button{
  						width:80px;
  						height:80px;
  					  margin: 0 70px 0 0;
  						background-color:transparent;
              border:1px solid rgba(255,255,255,.25);
              box-sizing: border-box;
              opacity:1;
              transition:all .4s ease-out;

  						&:hover{
                border-color:$white;
  						}

              &::after{
                content:'';
                width:80px;
                height:80px;
                position:absolute;
                top:0;
                left:0;
                font-family:$bellefair;
                font-size:$text32;
                line-height:80px;
                color:$white;
              }

  						&.is-active{
                background-color:$white;
  							transform:scale(1);

                &::after{
                  color:$darkblue;
                }
  						}
  					}

            &:nth-child(1) button::after{
              content:'1';
            }

            &:nth-child(2) button::after{
              content:'2';
            }

            &:nth-child(3) button::after{
              content:'3';
            }
          }
				}
        .splide__track{
          order:2;
          ul.splide__list{
  					li{
  						.crew-text{
                padding:0 10px;
                align-self:center;
  							.nav-text{
  								padding:0;
  							}
  							h3{
  								color:$white;
                  margin-top:10px;
  							}
  							p{
  								width:80%;
  							}
  						}
  						.crew-photo{
                text-align:right;
  							img{
  								max-height:calc(100vh - 277px);
                  max-width: 100%;

                  &.landscape-img{
                    display:none;
                  }
  							}
  						}
  					}
  				}
        }
			}
		}
  }
  @media (max-width:$mddesktop){
    main{
      padding-bottom:65px;
    }
  }
  @media (max-width:$smdesktop){
    main{
      .row{
        .splide{
          .splide__track{
            ul.splide__list{
    					li{
    						.crew-photo{
                  align-self: center;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width:$tablet){
    background-image:url('images/technology/background-technology-tablet.jpg');
    main{
      padding-top:124px;
      padding-left:0;
      .row{
        align-items: flex-start;
        .splide{
          .splide__pagination{
            position: absolute;
            width: 100%;
            height:60px;
            top:calc(50% + 25px);
            flex-direction: row;

            li{
              margin:0 8px;
              button{
                margin:0 auto;
                height:60px;
                width: 60px;
                &::after{
                  height:60px;
                  width: 60px;
                  line-height: 60px;
                }
              }
            }
          }
          .splide__track{
            ul.splide__list{
    					li{
                .crew-text{
                  order:2;
                  padding-top:40px;
                  h3{
                    margin:16px 0;
                  }
                  p{
                    width:58%;
                    margin:0 auto;
                  }
                }
    						.crew-photo{
                  margin-bottom: 160px;
                  order:1;
                  img{
                    &.landscape-img{
                      display:block;
                      width:100%;
                    }
                    &.portrait-img{
                      display:none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width:$mobile){

  }
}
