#destination.content{
  background-image:url('images/destination/background-destination-desktop.jpg');

  main{
    .row{
      .dest-selection{
        #dest-image{
          display:block;
          width:80%;
          margin:97px auto 0;
          animation: rotation 300s infinite linear;
        }
      }
      .dest-content{
        .content-wrapper{
          display:block;
          width:80%;
          margin-left:auto;
          ul.destination-menu{
            margin-bottom:40px;
            li{
              button{
                padding:0;
                margin:0 36px 0 0;
                color:$lightblue;
                position:relative;
                transition:color .4s ease-out;

                &::after{
                  content:'';
                  position:absolute;
                  width:0;
                  height:3px;
                  left:0;
                  bottom:-12px;
                  transition:all .4s ease-out;
                }
                &:hover::after{
                  width:100%;
                  background-color:rgba(255,255,255,.5);
                }
                &.d-active{
                  color:$white;
                  &::after{
                    content:'';
                    width:100%;
                    background:$white;
                    opacity:1;

                  }
                }
              }
            }
          }
          #dest-description{
            p{
              min-height:182px;
            }
            .dest-data{
              border-top:1px solid $gray;
              padding-top:29px;
            }
          }
        }
      }
    }
  }
  @media (max-width:$mddesktop){

  }
  @media (max-width:$smdesktop){

  }
  @media (max-width:$tablet){

  }
  @media (max-width:$mobile){

  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
