#front-page.content{
  background-image:url('images/home/background-home-desktop.jpg');
  background-position:center right;

  main{
    .row{
      .text-content{
        p{
          width:28.125rem;
        }
      }

      .explore{
        display:flex;
        justify-content: flex-end;
        .explore-button{
          justify-content: center;
          background-color:$white;
          color:$darkblue;
          width:274px;
          height:274px;
          border-radius:100%;
          cursor:pointer;
          z-index:1;

          &:hover ~ .explore-hover{
            transform:scale(1.64);
          }

          h4{
            margin:0;
          }
        }

        .explore-hover{
          position:absolute;
          width:274px;
          height:274px;
          border-radius:100%;
          transform:scale(1);
          transition:.7s all ease-out;
          background-color:rgba(255,255,255,.104);
        }


      }
    }
  }

  @media (max-width:$mddesktop){

  }
  @media (max-width:$smdesktop){

  }
  @media (max-width:$tablet){
    background-image:url('images/home/background-home-tablet.jpg');
    main{
      .row{
        .text-content{
          p{
            width:85%;
            margin:0 auto;
            padding-bottom:50px;
          }
        }
        .explore{
          justify-content: center;
          align-self: flex-end;
        }
      }
    }
  }
  @media (max-width:$mobile){

  }
}
